@model Blog.Models.ViewModels.EditPasswordViewModel
@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

    <h2 id="message-fail" class="text text-danger" style="font-size:30px;margin-left:32%"></h2>
    <h2 id="message-success" class="text text-success" style="font-size:30px;margin-left:32%"></h2>

    <div style="margin-left:25%;margin-top:10%" class="col-md-6">

        <div class="form-group">
            <label asp-for="CurrentPassword" class="col-md-3 control-label" for="inputDefault">Mevcut Şifre</label>
            <div class="col-md-6">
                <input asp-for="CurrentPassword" id="currpass" type="password" class="form-control">
                <span id="validation-currpass" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="col-md-3 control-label" for="inputDefault">Yeni Şifre</label>
            <div class="col-md-6">
                <input asp-for="NewPassword" id="newpass" type="password" class="form-control">
                <span id="validation-newpass" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword" class="col-md-3 control-label" for="inputDefault">Yeni Şifre Tekrar</label>
            <div class="col-md-6">
                <input asp-for="ConfirmNewPassword" id="connewpass" type="password" class="form-control">
                <span id="validation-connewpass" class="text-danger"></span>
            </div>
        </div>

        <a style="width:300px;margin-left:20%;margin-top:5%" id="btn-pass" class="btn btn-warning" href="#">Şifreyi Güncelle</a>
    </div>

</div>

@section scripts{

    <script>
        $(function () {


            $("#btn-pass").click(function () {

                var model = {
                    CurrentPassword: $("#currpass").val(),
                    NewPassword: $("#newpass").val(),
                    ConfirmNewPassword: $("#connewpass").val(),

                }

                $.ajax({
                    method: "POST",
                    url: "/Account/EditPassword/",
                    data: model,
                    type:"json",
                    success: function (response) {
                        
                        if (response.success) {
                            $("#message-success").text(response.message).show();
                            $("#message-fail").hide();

                        } else {
                            
                            $("#message-fail").text(response.message).show();
                            $("#message-success").hide();

                        }
                    }
                })
            })

        })


    </script>

}




