@model Blog.Models.ViewModels.ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>


    <meta charset="UTF-8">

    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="/Themes/Admin-panel/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/Themes/Admin-panel/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/Themes/Admin-panel/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/Themes/Admin-panel/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />


    <link rel="stylesheet" href="/Themes/Admin-panel/assets/stylesheets/theme.css" />


    <link rel="stylesheet" href="/Themes/Admin-panel/assets/stylesheets/skins/default.css" />

    <link rel="stylesheet" href="/Themes/Admin-panel/assets/stylesheets/theme-custom.css">

    <script src="/Themes/Admin-panel/assets/vendor/modernizr/modernizr.js"></script>


</head>
<body>
    <div style="margin-top: 15%">
        <h2 style=" margin-left:43%;font-size: 40px">Şifremi Unuttum </h2>
        <h2 style="margin-left:33%;font-size: 20px">Yeni Şifrenizi Gönderebilmemiz İçin Email Adresinizi Yazıp Gönder Butonuna Basınız.</h2>
        <h2 class="text text-success" style="margin-left:40%;font-size: 20px">@TempData["Message"]</h2>
    </div>
   

<br/>
<div style="width:25%;margin-left:34%;">


    <form class="form-horizontal" asp-controller="Account" asp-action="ForgetPassword" asp-antiforgery="true" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-sm-4 control-label">Email: </label>
            <div class="col-sm-8">
                <input asp-for="Email" type="email" class="form-control">
            </div>
        </div>


        <div style="padding-top:20px;">
            <button style="width:60%;margin-left:37%" type="submit" class="btn btn-md btn-success">Gönder</button>

        </div>


    </form>



</div>


<script src="/Themes/Admin-panel/assets/vendor/jquery/jquery.js"></script>
<script src="/Themes/Admin-panel/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="/Themes/Admin-panel/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/Themes/Admin-panel/assets/vendor/nanoscroller/nanoscroller.js"></script>
<script src="/Themes/Admin-panel/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Themes/Admin-panel/assets/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/Themes/Admin-panel/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

<script src="/Themes/Admin-panel/assets/javascripts/theme.js"></script>


<script src="/Themes/Admin-panel/assets/javascripts/theme.custom.js"></script>
<script src="/Themes/Admin-panel/assets/javascripts/theme.init.js"></script>
</body>
</html>
